<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <% if @users.exists? %>
        <tr>
          <th></th>
          <th>Name</th>
          <th></th>
          <th>Made an acount</th>
          <th></th>
        </tr>

        <% @users.each do |user| %>
          <tr>
            <td></td>
            <td><%= user.name %></td>
            <td>Follow: <%= user.followings.count %></td>
            <td>Date: <%= user.created_at.strftime('%Y/%m/%d') %></td>
            <td></td>
          </tr>
          <% end %>
        </table>

      <% else %>
       <p>You don't have any Followers...</p>
      <% end %>
    </div>
  </div>
</div>
