<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="mx-auto my-5">
        <p class="text-light text-center">A good photograph is one that communicates a fact,<br>touches the heart<br>and leaves the viewer a changed person for having seen it.</p>
      </div>
    </div>
  </div>
</div>