<div class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="mx-auto my-5">
        <p class="text-light text-center">A good photograph is one that communicates a fact,<br>touches the heart<br>and leaves the viewer a changed person for having seen it.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zd4Iwdhl5n8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>