<div class="parallax">
  <div class="container">
    <div class="row">
      <div class="mx-auto my-5">
          <h1 class="text-center">Rumika.N</h1>
          <p class="text-center">Want to photograph this moment that<br>will never come again</p>
      </div>
    </div>
  </div>
</div>