<div class="parallax">
  <div class="box">
    <div class="main-group">
      <h1 class="main-title">Rumika.N</h1>
      <p class="main-text">Want to photograph this moment that<br>will never come again</p>
    </div>
  </div>
</div>
