<div class="parallax_box">
  <div class="parallax_content img_bg_01"><h1>Rumika.N</h1></div>
  <div class="parallax_content img_bg_02"><p>Want to photograph this moment that will never come again</p></div>
  <div class="parallax_content img_bg_03"><p>Want to photograph this moment that will never come again</p></div>
</div>

