<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10 mx-auto my-5">
      <% @photos.each do |photo| %>
        <%= link_to photo_path(photo.id) do %>
          <%= image_tag photo.photo, size: "300x300" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
